label, p, h3{
   font-family: 'Raleway', sans-serif;
   color:rgb(214, 203, 240); 
}
input, textarea{
    font-family: 'Raleway', sans-serif;
    color:rgb(0, 0, 0) !important; 
    margin-top: 1.5%;
}


h3{
    margin-top: 1%;
}
.btn{
    background-color: rgb(238, 235, 245);
    border-radius: 4px;
    font-size: large;
    color:rgb(44, 38, 59);
}
#desCat,input{
    color:rgb(214, 203, 240); 
    font-size: large;
    background-color: rgb(238, 235, 245);
    margin: 1%;
    border-radius: 4px;
}




@media screen and (max-width: 1279px){
    body{
        font-family: 'Raleway', sans-serif;
        color:rgb(214, 203, 240); 
        font-family: 'Raleway', sans-serif;
        background: url(../imagenesDef/Crashea3.jpg);
    }
    #contenidoCentral{        
        padding-left: 15%;
        padding-top: 5%;
    }   
    .Titulo{
        font-size:2.2vw;
    }
    #crearCat, #regresar{
        font-size: 1.5vw;
        font-weight: bold;
        width: 15vw;
    }
    #Nombre, #desCat{
        font-size:2.1vw;
        width: 50vw;
    }
}

@media screen and (min-width: 1280px) {
    body{
        font-family: 'Raleway', sans-serif;
        color:rgb(214, 203, 240); 
        background: url(../imagenesDef/Crashea3.jpg) no-repeat center top;
        background-size: cover;
    }
    #contenidoCentral{
      padding-left: 15%;
      padding-top: 5%;
    }
    .Titulo{
        font-size: 1.62vw;
    }
    #crearCat, #regresar{
        font-size: 1.1vw;
        font-weight: bold;
        width: 10vw;
    }
    #Nombre, #desCat {
        font-size: 1.5vw;
        width: 50vw;
    }

}