body {
    background: url(/archivosProyecto/ImagenesaCambiar/116841401_2711043955807463_2128975406817825709_n.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}

.login {
    width: 30%;
    height: 30%;    
    position: absolute;
    transform: translate(100%, 40%);  
    padding: 70px 30px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0,0,0,1);    
}

label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

input{
    width: 100%;
    padding: 1%;
    border-radius: 9px;
    margin-bottom: 5%;
    border: 2px solid rgb(255, 3, 3);
    font-size: 14px;
}

.ER{
   border: 2px solid red;
   padding: 2%;
   margin-top: 5%;
}