h3{ 
    margin: 3%;
    margin-left: 2%;
    font-size: xx-large;
    color:rgb(214, 203, 240); 
}
#categorias{
    color: rgb(32, 33, 34);
    background-color: rgb(188, 208, 224);
    margin-left: 3%;
    background-size: 10px;
}

table{
    border-collapse: collapse;
    margin-left: 2%;
}
td, th {
    /*border: 1px solid #dddddd;*/
    margin:3% ;
   
    font-size: large;
    color:rgb(214, 203, 240); 
}

.cursos{
    margin: 5px;
    padding: 10px;
    background-color:rgba(73, 68, 87, 0.788);
    border-radius: 4px;
    padding-bottom: 7px;
}
#contenidoCentral{
    display: flex;
    margin: 8%;
}

.contenedorCursos{
    margin-left: 0;
}
.niveles{
    text-align: right;
    margin-bottom: 2%;
}
a, a:hover{
    color:rgb(214, 203, 240); 
}
body{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
    background: url(/archivosProyecto/imagenesDef/Crashea3.jpg);
}