h3{ 
    margin: 3%;
    margin-left: 2%;
    margin-bottom: 0%;
    font-size: xx-large;
    color:rgb(214, 203, 240); 
}
#categorias{
    color: rgb(32, 33, 34);
    background-color: rgb(188, 208, 224);
    margin-left: 3%;
    background-size: 10px;
}

table{
    border-collapse: collapse;
    margin-left: 2%;
}
td, th {
    /*border: 1px solid #dddddd;*/
    margin:3% ;
    font-size: large;
    color:rgb(214, 203, 240); 
}
#tituloBtn{
    width: 100%;
    display: flex;
}
#btnAnCur{
    margin-left: 59%;
    margin-top: 3%;
    background-color: rgb(238, 235, 245);
    border-radius: 6px;
    padding: 1%;
    color:rgb(44, 38, 59);
    height: 5%;
}
#anadirCur{
    width: 100%;
    text-align: right;
}

.cursos{
    margin: 5px;
    padding: 10px;
    background-color:rgba(73, 68, 87, 0.788);
    border-radius: 4px;
    padding-bottom: 7px;
}
#contenidoCentral{
    display: flex;
    margin: 8%;
    margin-top: 4%;
    width: 100%;
}

.contenedorCursos{
    margin-left: 0;
}
.niveles{
    text-align: right;
    margin-bottom: 2%;
}
a, a:hover{
    color:rgb(214, 203, 240); 
}
body{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
    background: url(../imagenesDef/Crashea3.jpg);
}
@media screen and (min-width: 1280px) {
    body{
    background: url(../imagenesDef/Crashea3.jpg) no-repeat center top;
    background-size: cover;
    }
}