#busqueda{
    width: 50%;
}
#categorias{
    color: rgb(32, 33, 34);
    background-color: rgb(188, 208, 224);
    margin-left: 3%;
    background-size: 10px;
}
#imgAvatarUsuario{
    border-radius: 50%;
}
#elementosNav {
    float: right;
    display: flex;
    transform: translate(475%, 0%);
  }
#iniciaSes{
    margin-top: 7px;
}
  
#btnBus{
    box-sizing: content-box;
    padding: 1%;
    transform: translate(0%, -20%);
    background: url(/archivosProyecto/imagenesDef/lupa.jpg);
    background-size: 20px;
  }
.cursos{
      margin: 10px;
  }
#cursos{
    margin:3% ;
    margin-left: 7%;
}