#busqueda{
    width: 50%;
}
#barraBusqueda{
    margin-bottom: 2%;
}
#categorias{
    color: rgb(32, 33, 34);
    background-color: rgb(188, 208, 224);
    margin-left: 3%;
    background-size: 10px;
}
  
#btnBus{
    box-sizing: content-box;
    padding: 1%;
    transform: translate(0%, -20%);
    background: url(/archivosProyecto/imagenesDef/lupa.jpg);
    background-size: 20px;
  }

table{
    border-collapse: collapse;
}
td, th {
    margin:3% ;
    padding: 10px;
}
.cursos{
    margin: 10px;
    padding: 10px;
}
#contCen{
    display: flex;
}
.categorias{
    margin: 2%;
    margin-left: 0%;
}
.contenedorCursos{
    margin-left: 0;
}
.niveles{
    text-align: right;
}
body{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}