#contenidoCentral{
    margin: 10%;
    margin-top: 7%;
}
#avatarUsuario{
    border-radius: 50%;
}
#datosPerfil{
    display: flex;
}
#btnMisCursyOtrasCosas{
    text-align: right;
}
#btnHistorial, #btnVentas, #btnEdPerfil{
    background-color: rgb(238, 235, 245);
    border-radius: 4px;
    font-size: large;
    padding: 1%;
    color:rgb(44, 38, 59);
}
#btnMisCursos{
    background-color: rgb(238, 235, 245);
    border-radius: 4px;
    font-size: large;
    padding: 1%;
    color:rgb(44, 38, 59);
}
#datosUs{
    font-size: x-large;
    color:rgb(214, 203, 240); 
    margin: 3%;
}
body{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
    background: url(../imagenesDef/Crashea3.jpg);
}

@media screen and (min-width: 1280px) {
    body{
    background: url(../imagenesDef/Crashea3.jpg) no-repeat center top;
    background-size: cover;
    }
}