* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background: url(/archivosProyecto/ImagenesaCambiar/116841401_2711043955807463_2128975406817825709_n.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}

.formR {
    background-color: rgba(1, 79, 4, 0.61);
    width: 50%;
    padding: 3%;
    margin: auto;
    margin-top: 25%;
    border-radius: 10px;
    box-shadow: 7px 13px 37px rgba(11, 107, 14, 0.938);
}

.controls {
    width: 100%;
    background-color: cyan;
    padding: 1%;
    border-radius: 6px;
    margin-bottom: 1%;
    border: 10px soid rgb(160, 235, 23);
    font-family: 'Roboto Slab', serif;
}

.ER {
    width: 90%;
    margin-left: 5%;
    padding: 2%;
    margin-top: 5%;
    font-size: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 949px) {
    h3 {
        text-align: center;
        font-size: 150%;
    }
    label {
        font-size: 100%;
    }
    .controls{
        font-size: 70%;
    }
}

@media screen and (min-width: 950px) {
    h3 {
        text-align: center;
        font-size: 260%;
    }
    label {
        font-size: 180%;
    }
    .controls{
        font-size: 100%;
    }
}
