body{
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
    background: url(/archivosProyecto/imagenesDef/Crashea3.jpg);
}
#contenidoCentral{
    margin: 4%;
    margin-left: 12%;
}
#cosasCurso{
    display: flex;
}
#detallesCurso{
    color:rgb(214, 203, 240); 
    font-size: large;
}
#catCur{
    padding-top: 1%;
    padding-left: 3%;
}
.inputs{
    background-color: rgb(238, 235, 245);
    margin: 2%;
    border-radius: 4px;
}
.btn{
    background-color: rgb(238, 235, 245);
    border-radius: 4px;
    padding: 1%;
    color:rgb(44, 38, 59);
}
#trailer{
    text-align: left;
}
#subirCurso{
    margin: 2%;
}
#videoAgregarCurso{
    margin: 4%;
    text-align: right;
}