@media screen and (max-width: 1362px) {
    #contenidoGen {
        margin: 4%;
    }
    #titulo {
        font-size: 3vw;
    }
    #titulo2 {
        font-size: 3vw;
    }
    #titulo3 {
        font-size: 3vw;
    }
    .ContenidoDescripcion {
        font-size: 1.8vw;
    }
    .form-group {
        font-size: 180%;
    }
    #btn {
        font-size: 60%;
    }
    .Titulo2 {
        font-size: 160%;
    }
    .comentario {
        font-size: 70%;
    }
    .Comentario {
        font-size: 160%;
    }
    .text-com {
        font-size: 130%;
    }
    .comprar {
        font-size: 2.5vw;
    }
    .S,.S1, .S2, .S3, .S4 {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 8%;
    }
    .Datos {
        font-size: 120%;
    }
}

@media screen and (min-width: 1363px) {
    #titulo {
        font-size: 2vw;
    }
    #titulo2 {
        font-size: 2vw;
    }
    #titulo3 {
        font-size: 2vw;
    }
    .ContenidoDescripcion {
        font-size: 1.3vw;
    }
    .form-group {
        font-size: 200%;
    }
    #btn {
        font-size: 60%;
    }
    .Titulo2 {
        font-size: 5vh;
    }
    .comentario {
        font-size: 3vh;
    }
    .Comentario {
        font-size: 3vh;
    }
    .text-com {
        font-size: 2.5vh;
    }
    #btnComprar {
        font-size: 2.5vh;
    }
    .comprar{
        font-size: 3vh;
    }
    .S,.S1, .S2, .S3, .S4 {
        margin-top: 3%;
        margin-bottom: 5%;
        max-width: 8%;
    }
    .Datos {
        font-size: 2.5vh;
    }
    #contenidoGen {
        margin-left: 5%;
        margin-right: 5%;
    }
}