* {
    margin: 0%;
    padding: 0%;
}

body {
    background: url(/archivosProyecto/ImagenesaCambiar/Crashea.jpg) no-repeat center top;
    background-size:cover;
}

#general {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ven {
    width: max-content;
    display: inline-block;
    margin-top: 1%;
}
#prim{
    margin-left: 10%
}

#sega{
    margin-left: 2%;
}
p {
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}

.cantidad {
    margin-top: 4%;
    font-family: 'Rubik', sans-serif;
}

.tabla {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.avatar {
    width: 80%;
    margin-left: 10%;
    display: block;
}

#titulo, #titulo2, #titulo3, #titulo4 {
    font-family: 'IBM Plex Serif', serif;
}

#titulo {margin-left: 10%;}
#titulo2 {margin-left: 2%;}
#titulo4 {margin-left: 2%;}

.tabla {
    font-family: 'Rubik', sans-serif;
}