*{
    background-color: rgb(2, 115, 51);
}
.general {
    padding-left: 5%;
    padding-right: 5%;
}

.espacio {
    margin-left: 1%;
    margin-top: 2%;
    display: block;
}

.combo {
    width: max-content;
    display: inline-block;
    margin: 0%;
    padding: 0%;
}

.tarjetas {
    display: block;
}

.card {
    margin-left: 1%;
    margin-top: 2%;
}

.titulo{
    margin-top: 2%;
}

.card-img {
    max-height: 40ex;
    max-width: 50%;
    margin-left: 5%;
}

p, .OrdenarPor, #OrdenarPor {
    font-family: 'Rubik', sans-serif;
   
}
#OrdenarPor{
    width: 300%;
    margin-left: 3%;
}
.card-title, .Ventas {
    font-family: 'IBM Plex Serif', serif;
    
}

.col-md-4{
    background-color: rgb(51, 2, 115);
}

.card-body{
    background-color: rgb(164, 11, 224);
}

.card-title{
    background-color: rgb(224, 11, 11);
}

.card-text{
    background-color: rgb(210, 224, 11);
}

.text-muted{
    background-color: rgb(14, 227, 255);
}