@media screen and (max-width: 1279px) {
    #titulo {font-size: 180%;}
    #titulo2 {font-size: 140%;}
    #titulo3 {font-size: 120%;}
    #titulo4 {}
    p{font-size: 80%;}
}

@media screen and (min-width: 1280px) {
    .datos {
        width: 49%;
        float: left;
        margin-top: 1%;
    }
    #titulo {font-size: 180%;}
    #titulo2 {font-size: 140%;}
    #titulo3 {font-size: 120%;}
    #titulo4 {font-size: 100%;}
    p{
        margin-top: 5%;
        font-size: 100%;
    }

}