@media screen and (max-width: 1279px) {
    #titulo {font-size: 180%;}
    #titulo2 {font-size: 140%;}
    #titulo3 {font-size: 120%;}
    #titulo4 {font-size: 140%;}
    p{font-size: 80%;}
    body{
        padding: 5%;
    }
}

@media screen and (min-width: 1280px) {
    .datos {
        width: 49%;
        float: left;
 
    }
    #titulo {font-size: 250%;}
    #titulo2 {font-size: 220%;
    margin-bottom: 2%;}
    #titulo3 {font-size: 200%;}
    #titulo4 {font-size: 200%;}
    p{
        font-size: 150%;
    }

    body{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
    }

}