body {
  background-color: #027333;
}

.login {
    width: 30%;
    height: max-content;
    position: absolute;
    transform: translate(100%, 40%);
    padding: 50px 30px;
    background-color: rgba(2, 86, 40, 0.493);
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(23, 191, 96, 0.164), 15px 15px 15px rgba(23, 191, 96, 0.274);
}

label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-family: 'IBM Plex Serif', serif;
    
}

input {
    width: 100%;
    padding: 1%;
    border-radius: 9px;
    margin-top: 1%;
    margin-bottom: 5%;
    border: 2px solid rgb(255, 3, 3);
    font-family: 'Rubik', sans-serif;
}

.Reg {
    border: 2px solid red;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-top: 1%;
    padding: 2%;
    font-family: 'Rubik', sans-serif;
}

.linea{
    
    border: 2px solid rgb(100, 100, 100);
}
