* {
    background-color: #027333;
}

#general {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 2%;
}

.datos {
    padding-top: 1%;
    width: 50%;
    float: left;
}

.ImCurso {
    width: 90%;
    margin-left: 5%;
}

.Descripcion {
    margin-bottom: 3%;
    margin-top: 2%;
}

.ContenidoDescripcion {
    text-align: justify;
    margin-right: 3%;
}

.opciones {
    display: block;
    padding-top: 30%;
    padding-left: 3%;
    padding-bottom: 2%;
}

#titulo {
    margin-bottom: 0%;
    padding-left: 3%;
}

#titulo, #titulo2, #titulo3 {
    font-family: 'IBM Plex Serif', serif;
}

#titulo, #titulo3 {
    font-weight: bolder;
}

/*Iconos/

/**********************************************************************/

/**********************************************************************/

/**********************************************************************/

.imagenes {
    width: max-content;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
}

.ComprarCurso {
    width: 30%;
    display: inline-block;
    border: 0px;
    margin: 0px;
}

.comprar {
    display: inline-block;
    margin-left: 6%;
    margin-top: 6%;
    width: max-content;
}

.imagenes2{
    margin-left: 5%;
}
S1{
    max-width: 20px;
}

/*Lo que se usa para los combobox*/

/**********************************************************************/

/**********************************************************************/

/**********************************************************************/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: 0px;
    background-color: rgba(23, 23, 180, 0.329);
    flex: 1;
    padding: 0 .5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.Box {
    position: relative;
    display: flex;
    width: 80%;
    height: 60%;
    line-height: 3;
    background: rgba(255, 0, 0, 0);
    overflow: hidden;
    border-radius: 10px;
    margin-top: .5%;
    margin-left: 5%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

.Box::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: rgba(165, 165, 165, 0.712);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.Box:hover::after {
    color: rgb(0, 255, 149)
}

/*Comentarios*/

/**********************************************************************/

/**********************************************************************/

/**********************************************************************/

#footer {
    background-color: #d9b8b8;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.contenido {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-width: 3%;
    border-style: dashed;
    border-color: #745a5a;
    padding-top: 2%;
    background-color: #d9b8b8;
}

.Titulo2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #745a5a;
    margin-bottom: 2%;
    background-color: #d9b8b8;
}

.form-group {
    display: block;
    margin-top: 1%;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    background-color: #d9b8b8;
    text-align: center;
}

#commentary {
    margin-left: 5%;
    margin-right: 10%;
    width: 90%;
    font-size: 80%;
    font-family: 'Roboto Slab', serif;
}

.comentario {
    background-color: #d9b8b8;
}

.btn {
    width: 25%;
}

/****************************/

.media {
    border-width: 3%;
    border-style: dashed;
    border-color: #745a5a;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    max-height: 20%;
    background-color: #d9b8b8;
}

.ImagenPerfil {
    max-width: 8%;
    margin-left: 3%;
}

.media-body {
    background-color: #d9b8b8;
}

.Comentario {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300%;
    padding-left: 4%;
    background-color: #d9b8b8;
}

.text-com {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    padding-left: 5%;
    background-color: #d9b8b8;
}