@media screen and (max-width: 1279px) {
    label {font-size: large;}
    h3 {font-size: larger;}
    .controls {font-size: 70%;}
    .ER {font-size: medium;}
    body{
        background: url(/archivosProyecto/imagenesDef/Crashea3.jpg);
    }
}



@media screen and (min-width: 1280px) {
    label {
        font-size: 180%;
    }
    h3 {font-size: 220%;}
    .controls {font-size: 110%;}
    .ER {font-size: 150%;}
    body{
        background: url(/archivosProyecto/imagenesDef/Crashea3.jpg) no-repeat center top;
        background-size: cover;
    }
}
